## -*- coding: utf-8 -*-
<form action="" method="POST" name="status-form" id="status-form">
<table>
<tr>
<td><label for="text">status</label></td>
<td class="wide">
    <div>${current.text}</div>
    <form:error name="text" format="default">
    <input type="text" id="text" name="text" />
</td>
<td><label for="beer">beer</label></td>
<td>
    <div>${current.beer}</div>
    <form:error name="beer" format="default">
    <input type="text" id="beer" name="beer" />
</td>
<td><input type="submit" value="submit"/></td>
</tr>
</table>
</form>
