<%inherit file="base.html"/>

<div id="trash" class="container">
<div class="swatch orange"></div>
<h1>reject</h1>
% for submission in trash:
    ${submission_item(submission)}
% endfor
</div>

<div id="submission" class="container">
<div class="swatch blue"></div>
<h1>submissions</h1>
% for submission in submissions:
    ${submission_item(submission)}
% endfor
</div>


<div id="accept" class="container">
<div class="swatch green"></div>
<h1>shortlist</h1>
% for project in projects:
    ${project_item(project, 'accepted')}
% endfor
</div>

<div id="publish" class="container">
<div class="swatch grey"></div>
<h1>going ahead / job done</h1>
% for project in public:
    ${project_item(project, 'published')}
% endfor

</div>

<div id="status">
${status |n}
</div>

<%def name="project_item(project, cls)">
<div id="project-${project.id}" class="item project ${cls}">
    <p>${project.title}
    @ ${project.submission.town} ${project.submission.postcode}</p>
    <p>${project.description}</p>
    <p>${project.photos or ''} ${project.videos or ''}</p>
</div>
</%def>

<%def name="submission_item(submission)">
<div id="submission-${submission.id}" class="item submission">
    <input type="text" value="${submission.project_name}" />
    <input type="text" value="${submission.town} ${submission.postcode}" />
    <input type="text" value="${submission.what}" />
    <input type="text" value="${submission.why}"/>
    <input type="text" value="${submission.people}" />
    <input type="text" value="${submission.firstname}" />
    <input type="text" value="${submission.lastname}" />
    <input type="text" value="${submission.email}" />
</div>
</%def>
