## -*- coding: utf-8 -*-
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="css/base-min.css" />
    <link href="css/base.css" rel="stylesheet" type="text/css" />
	<title>Tooheys New Crew</title>
</head>
<body>
    ${self.body()}
</body>
</html>


